In [1]:
import pandas as pd

In [17]:
df = pd.read_csv('./raw/weather_daily_sao_paulo.txt',sep=';')
df.drop(columns=['Unnamed: 6'], inplace=True)
df.rename(columns={
    'Estacao':'station',
    'Data':'date',
    'Hora':'time',
    'Precipitacao':'precipitation',
    'TempMaxima':'max_temperature',
    'TempMinima':'min_temperature'
}, inplace=True)
df.drop(columns=['station','time'], inplace=True)
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y')
df

           date  precipitation  max_temperature  min_temperature
0    2013-01-01            NaN             31.9              NaN
1    2013-01-01            0.0              NaN             22.0
2    2013-01-02            NaN             26.6              NaN
3    2013-01-02            0.0              NaN             18.1
4    2013-01-03            NaN             21.2              NaN
5    2013-01-03            0.0              NaN             18.1
6    2013-01-04            NaN             26.9              NaN
7    2013-01-04            3.2              NaN             18.7
8    2013-01-05            NaN             32.7              NaN
9    2013-01-05            0.0              NaN             20.4
10   2013-01-06            NaN             31.3              NaN
11   2013-01-06            0.4              NaN             21.7
12   2013-01-07            NaN             32.1              NaN
13   2013-01-07            0.0              NaN             20.3
14   2013-01-08            NaN             32.1              NaN
15   2013-01-08            0.0              NaN             22.2
16   2013-01-09            NaN             27.7              NaN
17   2013-01-09           17.5              NaN             21.1
18   2013-01-10            NaN             24.5              NaN
19   2013-01-10           11.1              NaN             17.8
20   2013-01-11            NaN             22.3              NaN
21   2013-01-11            3.4              NaN             16.5
22   2013-01-12            NaN             20.8              NaN
23   2013-01-12            0.0              NaN             14.9
24   2013-01-13            NaN             24.4              NaN
25   2013-01-13           21.5              NaN             17.4
26   2013-01-14            NaN             25.7              NaN
27   2013-01-14            9.9              NaN             17.7
28   2013-01-15            NaN             25.7              NaN
29   2013-01-15           32.2              NaN             18.1
...         ...            ...              ...              ...
4532 2019-04-16            NaN             28.7              NaN
4533 2019-04-16            0.0              NaN             19.7
4534 2019-04-17            NaN             27.7              NaN
4535 2019-04-17            8.8              NaN             19.3
4536 2019-04-18            NaN             26.9              NaN
4537 2019-04-18            0.0              NaN             16.9
4538 2019-04-19            NaN             28.2              NaN
4539 2019-04-19            0.0              NaN             15.6
4540 2019-04-20            NaN             28.3              NaN
4541 2019-04-20            0.0              NaN             16.4
4542 2019-04-21            NaN             29.6              NaN
4543 2019-04-21            0.0              NaN             19.2
4544 2019-04-22            NaN             29.4              NaN
4545 2019-04-22            0.0              NaN             20.4
4546 2019-04-23            NaN             27.9              NaN
4547 2019-04-23            0.0              NaN             20.8
4548 2019-04-24            NaN             29.2              NaN
4549 2019-04-24            0.0              NaN             20.0
4550 2019-04-25            NaN             28.8              NaN
4551 2019-04-25            0.0              NaN             20.7
4552 2019-04-26            NaN             27.8              NaN
4553 2019-04-26            0.8              NaN             20.6
4554 2019-04-27            NaN             29.4              NaN
4555 2019-04-27           27.8              NaN             19.6
4556 2019-04-28            NaN             29.2              NaN
4557 2019-04-28            0.0              NaN             21.5
4558 2019-04-29            NaN             24.5              NaN
4559 2019-04-29           14.7              NaN             17.3
4560 2019-04-30            NaN             27.1              NaN
4561 2019-04-30            0.0              NaN             18.1

[4562 rows x 4 columns]

In [27]:
df = df.groupby(['date']).sum()
df

            precipitation  max_temperature  min_temperature
date
2013-01-01            0.0             31.9             22.0
2013-01-02            0.0             26.6             18.1
2013-01-03            0.0             21.2             18.1
2013-01-04            3.2             26.9             18.7
2013-01-05            0.0             32.7             20.4
2013-01-06            0.4             31.3             21.7
2013-01-07            0.0             32.1             20.3
2013-01-08            0.0             32.1             22.2
2013-01-09           17.5             27.7             21.1
2013-01-10           11.1             24.5             17.8
2013-01-11            3.4             22.3             16.5
2013-01-12            0.0             20.8             14.9
2013-01-13           21.5             24.4             17.4
2013-01-14            9.9             25.7             17.7
2013-01-15           32.2             25.7             18.1
2013-01-16            1.2             26.1             18.9
2013-01-17           21.7             27.7             18.8
2013-01-18            0.0             30.9             19.6
2013-01-19            0.0             28.2             19.7
2013-01-20           23.2             24.6             18.7
2013-01-21            1.4             21.8             17.2
2013-01-22            0.4             26.3             16.2
2013-01-23            0.0             28.1             18.4
2013-01-24            2.1             30.7             19.3
2013-01-25            2.1             30.7             21.3
2013-01-26           12.0             25.7             19.6
2013-01-27            4.3             22.7             18.6
2013-01-28            1.0             22.8             17.9
2013-01-29            0.6             23.1             17.7
2013-01-30            0.0             26.5             19.3
...                   ...              ...              ...
2019-04-01            0.0             27.7             18.8
2019-04-02            0.0             29.1             17.5
2019-04-03            0.0             29.8             17.7
2019-04-04            0.0             32.0             18.3
2019-04-05            0.0             31.4             21.6
2019-04-06            0.0             30.2             23.3
2019-04-07            2.4             27.2             21.2
2019-04-08           12.0             24.0             20.6
2019-04-09           55.8             21.4             18.5
2019-04-10            8.0             22.0             16.7
2019-04-11            0.0             28.0             17.8
2019-04-12            0.0             29.2             19.1
2019-04-13            0.0             29.7             19.7
2019-04-14            9.4             22.2             18.4
2019-04-15            8.4             28.0             18.5
2019-04-16            0.0             28.7             19.7
2019-04-17            8.8             27.7             19.3
2019-04-18            0.0             26.9             16.9
2019-04-19            0.0             28.2             15.6
2019-04-20            0.0             28.3             16.4
2019-04-21            0.0             29.6             19.2
2019-04-22            0.0             29.4             20.4
2019-04-23            0.0             27.9             20.8
2019-04-24            0.0             29.2             20.0
2019-04-25            0.0             28.8             20.7
2019-04-26            0.8             27.8             20.6
2019-04-27           27.8             29.4             19.6
2019-04-28            0.0             29.2             21.5
2019-04-29           14.7             24.5             17.3
2019-04-30            0.0             27.1             18.1

[2311 rows x 3 columns]

In [28]:
df.to_csv('./processed/weather_daily_sao_paulo_clean.csv', sep=';', index_label='date')