In [1]:
import pandas as pd

In [2]:
weather_data = pd.read_csv('./processed/weather_daily_sao_paulo_clean.csv', sep=';', index_col='date')
weather_data = weather_data.iloc[181:-3]
weather_data

            precipitation  max_temperature  min_temperature
date
2013-07-01           16.2             17.3             13.1
2013-07-02           20.5             16.2             13.0
2013-07-03            0.1             20.7             13.1
2013-07-04            0.0             21.8             13.1
2013-07-05            0.0             26.0             12.9
2013-07-06            0.0             26.7             12.9
2013-07-07            0.0             26.3             14.0
2013-07-08            0.0             20.6             14.4
2013-07-09            0.0             18.7             14.4
2013-07-10            0.0             22.3             14.0
2013-07-11            0.0             19.7             13.0
2013-07-12            0.0             23.9             11.3
2013-07-13            0.0             24.8             13.2
2013-07-14            0.0             26.3             14.7
2013-07-15            0.0             24.8             15.5
2013-07-16            0.0             23.2             13.2
2013-07-17            0.0             25.0             11.4
2013-07-18            0.0             26.5             12.4
2013-07-19            0.0             22.6             15.2
2013-07-20            5.2             26.9             14.5
2013-07-21            8.3             26.3             16.1
2013-07-22            2.4             22.9             14.4
2013-07-23           10.4             15.8              7.2
2013-07-24            1.8              8.5              5.2
2013-07-25           22.4             11.5              6.9
2013-07-26            1.8             13.7              8.0
2013-07-27            1.8             19.0             10.5
2013-07-28            0.0             22.5              8.3
2013-07-29            0.0             21.4              9.5
2013-07-30            0.0             24.1              8.3
...                   ...              ...              ...
2019-03-29            0.8             25.8             17.5
2019-03-30            0.0             27.8             17.3
2019-03-31            0.0             28.3             17.5
2019-04-01            0.0             27.7             18.8
2019-04-02            0.0             29.1             17.5
2019-04-03            0.0             29.8             17.7
2019-04-04            0.0             32.0             18.3
2019-04-05            0.0             31.4             21.6
2019-04-06            0.0             30.2             23.3
2019-04-07            2.4             27.2             21.2
2019-04-08           12.0             24.0             20.6
2019-04-09           55.8             21.4             18.5
2019-04-10            8.0             22.0             16.7
2019-04-11            0.0             28.0             17.8
2019-04-12            0.0             29.2             19.1
2019-04-13            0.0             29.7             19.7
2019-04-14            9.4             22.2             18.4
2019-04-15            8.4             28.0             18.5
2019-04-16            0.0             28.7             19.7
2019-04-17            8.8             27.7             19.3
2019-04-18            0.0             26.9             16.9
2019-04-19            0.0             28.2             15.6
2019-04-20            0.0             28.3             16.4
2019-04-21            0.0             29.6             19.2
2019-04-22            0.0             29.4             20.4
2019-04-23            0.0             27.9             20.8
2019-04-24            0.0             29.2             20.0
2019-04-25            0.0             28.8             20.7
2019-04-26            0.8             27.8             20.6
2019-04-27           27.8             29.4             19.6

[2127 rows x 3 columns]

In [3]:
sptrans_data = pd.read_csv('./processed/pass_transp_clean.csv')
sptrans_data.rename(columns={'Unnamed: 0':'date'}, inplace=True)
sptrans_data.set_index('date', inplace=True)
sptrans_data

              8012    8022
date
2013-07-01  2969.0  2516.0
2013-07-02  3387.0  2869.0
2013-07-03  3361.0  3037.0
2013-07-04  3386.0  2996.0
2013-07-05  2909.0  2893.0
2013-07-06   783.0  1085.0
2013-07-07   308.0   366.0
2013-07-08  1376.0  1171.0
2013-07-09   431.0   473.0
2013-07-10  3397.0  2949.0
2013-07-11  2768.0  2437.0
2013-07-12  3172.0  2763.0
2013-07-13   700.0   989.0
2013-07-14   428.0   531.0
2013-07-15  2997.0  2668.0
2013-07-16  2936.0  2694.0
2013-07-17  2921.0  2623.0
2013-07-18  2903.0  2523.0
2013-07-19  2655.0  2484.0
2013-07-20   790.0   965.0
2013-07-21   502.0   759.0
2013-07-22  2838.0  2708.0
2013-07-23  2773.0  2561.0
2013-07-24  2645.0  2464.0
2013-07-25  2693.0  2543.0
2013-07-26  2758.0  2529.0
2013-07-27   774.0   946.0
2013-07-28   274.0   410.0
2013-07-29  2931.0  2678.0
2013-07-30  2914.0  2755.0
...            ...     ...
2019-03-29  3497.0  3241.0
2019-03-30  1263.0  1350.0
2019-03-31   310.0   304.0
2019-04-01  3312.0  3091.0
2019-04-02  3477.0  3392.0
2019-04-03  3612.0  3370.0
2019-04-04  3428.0  3236.0
2019-04-05  3365.0  3118.0
2019-04-06  1296.0  1429.0
2019-04-07   343.0   309.0
2019-04-08  3200.0  3063.0
2019-04-09  3581.0  3239.0
2019-04-10  3607.0  3413.0
2019-04-11  3597.0  3352.0
2019-04-12  3831.0  3137.0
2019-04-13  1681.0  1737.0
2019-04-14   309.0   329.0
2019-04-15  2678.0  2545.0
2019-04-16  2928.0  2719.0
2019-04-17  2907.0  2627.0
2019-04-18  2434.0  2241.0
2019-04-19   299.0   267.0
2019-04-20   402.0   377.0
2019-04-21   216.0   198.0
2019-04-22  3288.0  3165.0
2019-04-23  3597.0  3348.0
2019-04-24  3728.0  3252.0
2019-04-25  3447.0  3343.0
2019-04-26  2146.0  2258.0
2019-04-27     NaN     NaN

[2127 rows x 2 columns]

In [4]:
date_data = pd.DataFrame(columns=['weekday','week','month'], index=pd.date_range(
    start=pd.datetime(year=2013, month=7, day=1),
    end=pd.datetime(year=2019, month=4, day=27)
))
date_data['weekday'] = date_data.index.weekday
date_data['week'] = date_data.index.week
date_data['month'] = date_data.index.month

date_data = pd.concat([date_data,
                       pd.get_dummies(date_data['weekday'], prefix='weekday'),
                       pd.get_dummies(date_data['month'], prefix='month')
                      ], axis=1)
date_data.drop(columns=['weekday', 'month'], inplace=True)

date_data.sample(5)

,week,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,month_1,month_2,month_3,month_4,month_5,month_6,month_7,month_8,month_9,month_10,month_11,month_12
2015-04-14,16,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
2014-12-11,50,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2015-01-08,2,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2018-03-17,11,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
2014-12-16,51,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [5]:
database = pd.concat([date_data, weather_data, sptrans_data], axis=1)
database.sample(5)

,week,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6,month_1,month_2,...,month_8,month_9,month_10,month_11,month_12,precipitation,max_temperature,min_temperature,8012,8022
2014-11-21,47,0,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0.0,32.7,18.9,1728.0,1371.0
2014-07-02,27,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0.0,26.6,12.0,3593.0,2959.0
2018-11-28,48,0,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0.0,28.8,19.4,4844.0,4277.0
2015-01-14,3,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,1.6,34.0,21.3,2860.0,2355.0
2015-08-30,35,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0.0,32.0,14.3,481.0,601.0

In [6]:
database.isna().sum()

week                0
weekday_0           0
weekday_1           0
weekday_2           0
weekday_3           0
weekday_4           0
weekday_5           0
weekday_6           0
month_1             0
month_2             0
month_3             0
month_4             0
month_5             0
month_6             0
month_7             0
month_8             0
month_9             0
month_10            0
month_11            0
month_12            0
precipitation       0
max_temperature     0
min_temperature     0
8012               27
8022               27
dtype: int64

In [7]:
database.dropna(inplace=True)
database.shape

(2100, 25)

In [8]:
database.to_csv('./processed/circular_database.csv')